#mainDiv {
    text-align: center;
    align-items: center;
    align-content: center;
    background-image: url("https://community.adobe.com/legacyfs/online/1516782_Clouds.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    height: 621px;
}

#searchinput {
    margin-top: 47px;
    background-color: white;
    padding: 20px;

}

.fontfamily{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 22px;
}

#logo{
    font-size: 27px;
    position: relative;
    top: 6px;
    left: 5px;
    right: 10px;
    bottom: 20px;
}